<!DOCTYPE html>
<html>
<body>

<h2>SIEEMPRE ES VIERNES</h2>

<p>EN MI CORAZÓN</p>

<img src="https://media.tenor.com/images/48e35f70d5d2c92621ef77f8df6a97a7/tenor.gif">
<img src= "https://3.bp.blogspot.com/-jKjgxEoE7_k/VczJ5nkzC3I/AAAAAAAACeE/-rU40m_2x2w/s1600/viernes.png" style=width:200px;height:200px;>
</body>
</html>

